<div class="day">
    <div class="day-header">
        <button 
            mat-icon-button 
            class="previous-day" 
            aria-label=""
            (click)="previousDay()">
            <mat-icon>arrow_backward</mat-icon>
        </button>
        <h2 class="date-title">
            {{ this.displayDate() }}
        </h2>
        <button 
            mat-icon-button 
            class="next-day" 
            aria-label=""
            (click)="nextDay()">
            <mat-icon>arrow_forward</mat-icon>
        </button>
    </div>

    <app-todo
        [todoItems]="todoItems"
        (addTodoItem)="addItem()"
        (deleteTodoItem)="deleteItem($event)"
        (updateTodoItem)="updateItem($event)"
    ></app-todo>

    <app-steps
        [steps]="steps"
        (updateSteps)="updateSteps($event)"
    ></app-steps>

    <app-notes
        [notes]="notesText"
        (updateNotes)="updateNotes($event)"
    ></app-notes>
</div>
