<div class="day">
    <div class="day-header">
        <button 
            mat-icon-button 
            class="previous-day" 
            aria-label=""
            (click)="previousDay()">
            <mat-icon>arrow_backward</mat-icon>
        </button>
        <h2 class="date-title">
            {{ this.displayDate() }}
        </h2>
        <button 
            mat-icon-button 
            class="next-day" 
            aria-label=""
            (click)="nextDay()">
            <mat-icon>arrow_forward</mat-icon>
        </button>
    </div>

    <app-steps
        [steps]="steps"
        (updateSteps)="updateSteps($event)"
    ></app-steps>

    <app-water
        [water]="water"
        (updateTotal)="updateWaterTotal($event)"
        (updateType)="changeWaterMeasure($event)"
    ></app-water>

    <app-calories
        [calories]="food.totalCalories"
    ></app-calories>

    <app-todo
        [todoItems]="todoItems"
        (addTodoItem)="addItem()"
        (deleteTodoItem)="deleteItem($event)"
        (updateTodoItem)="updateItem($event)"
    ></app-todo>

    <app-workout
        [workout]="workout"
        (setWorkoutTime)="setWorkoutTime($event)"
        (addExercise)="addExercise()"
        (deleteExercise)="deleteExercise($event)"
        (updateExercise)="updateExercise($event)"
        (moveExercise)="moveExercise($event)"
    ></app-workout>

    <app-food
        [foods]="food.foods"
        (addFood)="addFood()"
        (deleteFood)="deleteFood($event)"
        (updateFood)="updateFood($event)"
    ></app-food>

    <app-notes
        [notes]="notesText"
        (updateNotes)="updateNotes($event)"
    ></app-notes>
</div>
