<div class="app">
    <app-header
        (toggleDayView)="toggleDayView($event)"
        (signUp)="signUp($event)"
        (logIn)="logIn($event)"
        (logOut)="logOut()"
        [username]="username"
        [loggedIn]="loggedIn">
    </app-header>

    <div class="content">
        <app-calendar
            *ngIf="!showDay"
            (changeDay)="changeDay($event)">
        </app-calendar>

        <app-day 
            *ngIf="showDay"
            [date]="date"
            [todoItems]="todoItems"
            (changeDay)="changeDay($event)"
            (addTodoItem)="addTodoItem()"
            (deleteTodoItem)="deleteTodoItem($event)"
            (updateTodoItem)="updateTodoItem($event)">
        </app-day>
    </div>
</div>