<div class="todo">
    <mat-label class="todo-title">TO-DO:</mat-label>
    <div class="items">
        <app-todo-item 
            *ngFor="let item of todoItems"
            [data]="item"
            [index]="getIndex(item)"
            (deleteTodoItem)="deleteItem($event)"
            (updateTodoItem)="updateItem($event)"
        ></app-todo-item>
    </div>
    <button
        mat-icon-button
        class="add-icon"
        arial-label="Add button"
        (click)="addItem()">
        <mat-icon>add_circle_outline</mat-icon>
    </button>
</div>
