<h1 *ngIf="!data.loggedIn" mat-dialog-title>Signup!</h1>
<h1 *ngIf="data.loggedIn" mat-dialog-title>Logged In!</h1>
<div *ngIf="!data.loggedIn" mat-dialog-content>
    <mat-form-field class="entry-field">
        <mat-label>Enter Username</mat-label>
        <input 
            matInput 
            [(ngModel)]="data.username" 
            placeholder="Username"
            [formControl]="usernameForm">
        <mat-error *ngIf="usernameForm.invalid">Please enter a username</mat-error>
    </mat-form-field>
    <mat-form-field class="entry-field">
        <mat-label>Password</mat-label>
        <input 
            matInput 
            [(ngModel)]="data.password" 
            [type]="hidePass ? 'password' : 'text'"
            placeholder="Password"
            [formControl]="passwordForm">
        <button 
            mat-icon-button 
            matSuffix 
            (click)="hidePass = !hidePass" 
            [attr.aria-label]="'Hide password'" 
            [attr.aria-pressed]="hidePass">
            <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="passwordForm.invalid">Please enter a password</mat-error>
    </mat-form-field>
    <mat-form-field class="entry-field">
        <mat-label>Retype Password</mat-label>
        <input 
            matInput 
            [(ngModel)]="retypePassword" 
            (input)="onPasswordChange()"
            [type]="hideRetypePass ? 'password' : 'text'"
            placeholder="Retype Password"
            [formControl]="retypePasswordForm">
        <button 
            mat-icon-button
            matSuffix 
            (click)="hideRetypePass = !hideRetypePass"
            [attr.aria-label]="'Hide password'" 
            [attr.aria-pressed]="hideRetypePass">
            <mat-icon>{{hideRetypePass ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="retypePasswordForm.hasError('required')">
            Please retype password
        </mat-error>
        <mat-error *ngIf="retypePasswordForm.hasError('passwordMismatch') && !retypePasswordForm.hasError('required')">
            Passwords do not match
        </mat-error>
    </mat-form-field>
    <p>{{ retypePasswordForm.hasError('required') }}</p>
    <p>{{ retypePasswordForm.hasError('passwordMismatch') }}</p>
</div>
<div *ngIf="data.loggedIn" mat-dialog-content>
    You are logged in as {{ data.username }}
</div>
<div *ngIf="!data.loggedIn" mat-dialog-actions class="dialog-actions">
    <button mat-button [mat-dialog-close]="[data.username, data.password]" cdkFocusInitial>Signup</button>
</div>
<div *ngIf="data.loggedIn" mat-dialog-actions class="dialog-actions">
    <button mat-button [mat-dialog-close]="['logout', 'logout']" cdkFocusInitial>Logout</button>
</div>